.main-content {
  padding: 20px;
}
.hero-section {
  text-align: center;
}
.detail-section {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.img {
  margin-left: 25%;
  max-width: 100%;
}
.detail-section .text-content {
  width: 50%;
}
.pricing-section {
  margin-top: 20px;
}
